
{% block options %}
    <form id="form_update" action="/set_options" method="POST">
        <input type="range" min="5" max="150" value="50" id="entryCount">
        <button id="form_click">Set range</button>
    </form>
    <script>
        window.addEventListener("DOMContentLoaded", function () {
            var form = document.getElementById("form_update");
            document.getElementById("form_click").addEventListener("click", function () {
                form.submit();
            });
        });
    </script>
{% endblock %}